@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  color: #ededed;
  background-color: #081b29;
  cursor: grab;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.name {
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  margin-left: 50px;
  cursor: pointer;
}

.name i {
  color: #00abf0;
  filter: drop-shadow(0px 0px 20px);
  margin: 15px 50px 0px 15px;
}

.name::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: ShowRight 1s ease forwards;
  animation-delay: 2.5s;
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
  transition: 3s;
  padding: 20px 0;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: ShowRight 1s ease forwards;
  animation-delay: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}
.Profil {
  height: 90vh;
  background: url(./home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

@keyframes ShowRight {
  100% {
    width: 0;
  }
}

@media (max-width: 768px) {
  .logo {
    margin-left: 10px;
    font-size: 16px;
  }

  .navbar {
    position: relative;
    display: flex;
    justify-content: center;
  }
}
